<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Home Page - Joe Kirkham's Personal Page</title>
        <link rel="stylesheet" href="/style/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>

    <body>
      {{{body}}}
      <script src="/scripts/script.js"></script>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </body>

    <footer>
        &copy; Joe Kirkham <script type="text/javascript">document.write(new Date().getFullYear());</script>
    </footer>
</html>